.banner {
    display: flex;
    justify-content: space-around;
    align-items: center;
<<<<<<< HEAD
    background-color: #FFF;
    box-shadow: 0 -5px 10px #EFEFEF;
    height: 70px;
=======
    background-color: #efefef;
    height: 50px;
>>>>>>> e27f49d4478c6625f95cf853f9c04a1f0745259e
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}