body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-family: 'Kumbh Sans','Inter', sans-serif;
  background-color: #FAFAFA;
  position: relative;
  min-height: 100vh;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  cursor: pointer;
}

li {
  display: block;
}

.prehome {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #FEFEFE;
  height: 100vh;
}

.prehome .prehome__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 75vw;
}

.prehome .prehome__container .inputs-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.prehome .prehome__container .switch-prehome {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.prehome .prehome__container .switch-prehome .blue-letter {
  color: #24a0ed;
  font-weight: bold;
  padding-left: 5px;
}

.prehome .prehome__container input {
  background-color: #F6F6F6;
  margin: 10px 0;
  padding: 8px;
  border: 1px solid #CDCDCD;
  border-radius: 2px;
}

.prehome .prehome__container input:focus {
  outline: 1px solid #343434;
}

.prehome .prehome__container .alternative {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top: 2px solid #CDCDCD;
  width: 100%;
}

.prehome .prehome__container .alternative .or {
  background-color: #FEFEFE;
  position: relative;
  top: -10px;
  padding: 0 20px;
}

.prehome .prehome__container .alternative .google-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  background-color: #F6F6F6;
  color: #898989;
  font-weight: bold;
  width: 80%;
  margin: 10px 0;
  -webkit-box-shadow: 0 0 6px #BBB;
          box-shadow: 0 0 6px #BBB;
}

.prehome .prehome__container button {
  width: 100%;
  background-color: #24a0ed;
  color: #FFF;
  padding: 10px;
  border: none;
  border-radius: 5px;
}

.banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #FFF;
  -webkit-box-shadow: 0 -5px 10px #EFEFEF;
          box-shadow: 0 -5px 10px #EFEFEF;
  height: 70px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.header {
  background-color: #FFF;
  -webkit-box-shadow: 0 5px 10px #EFEFEF;
          box-shadow: 0 5px 10px #EFEFEF;
}

.header h1 {
  margin: 0;
  padding: 10px;
}
/*# sourceMappingURL=main.css.map */