body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-family: 'Kumbh Sans','Inter', sans-serif;
  background-color: #FAFAFA;
  position: relative;
  min-height: 100vh;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  cursor: pointer;
}

li {
  display: block;
}

.prehome {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #FEFEFE;
  height: 100vh;
}

.prehome .prehome__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 75vw;
}

.prehome .prehome__container .inputs-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.prehome .prehome__container .switch-prehome {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.prehome .prehome__container .switch-prehome .blue-letter {
  color: #24a0ed;
  font-weight: bold;
  padding-left: 5px;
}

.prehome .prehome__container input {
  background-color: #F6F6F6;
  margin: 10px 0;
  padding: 8px;
  border: 1px solid #CDCDCD;
  border-radius: 2px;
}

.prehome .prehome__container input:focus {
  outline: 1px solid #343434;
}

.prehome .prehome__container .alternative {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top: 2px solid #CDCDCD;
  width: 100%;
}

.prehome .prehome__container .alternative .or {
  background-color: #FEFEFE;
  position: relative;
  top: -10px;
  padding: 0 20px;
}

.prehome .prehome__container .alternative .google-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  background-color: #F6F6F6;
  color: #898989;
  font-weight: bold;
  width: 80%;
  margin: 10px 0;
  -webkit-box-shadow: 0 0 6px #BBB;
          box-shadow: 0 0 6px #BBB;
}

.prehome .prehome__container button {
  width: 100%;
  background-color: #24a0ed;
  color: #FFF;
  padding: 10px;
  border: none;
  border-radius: 5px;
}

.banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #FFF;
  height: 70px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #FFF;
  z-index: 10;
}

.header h1 {
  margin: 0;
  padding: 10px;
}

.profile {
  padding: 60px 0;
  height: 100%;
  width: 100%;
}

.profile .back-image {
  width: 100%;
  height: 140px;
  background-image: url("https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fpng.pngtree.com%2Fback_origin_pic%2F02%2F65%2F79%2Ff28ff4f91e07f8e16d3592115bd6811a.jpg&f=1&nofb=1");
  background-size: cover;
}

.profile .profile-image {
  position: absolute;
  top: 150px;
  left: 40px;
  border-radius: 100px;
  height: 100px;
  width: 100px;
  background-color: #EFEFEF;
  outline: 3px solid #FFF;
  background-image: url("https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fqph.fs.quoracdn.net%2Fmain-qimg-7ca600a4562ef6a81f4dc2bd5c99fee9-c&f=1&nofb=1");
  background-size: cover;
}

.profile .profile-info {
  padding: 0 20px;
}

.profile .profile-info .edit-ptofile-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  height: 60px;
}

.profile .profile-info .edit-ptofile-btn button {
  background-color: transparent;
  border: 1px solid #676767;
  padding: 4px 12px;
  border-radius: 4px;
}

@-webkit-keyframes showL {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes showL {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.home {
  padding: 58px 0;
}

.post {
  margin-bottom: 40px;
}

.post .post__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #F5F5F5;
  padding: 2px 10px;
}

.post .post__header .header-img {
  border-radius: 50%;
}

.post .post__header h3 {
  padding-left: 10px;
}

.post .post__header .action-icon {
  position: absolute;
  right: 20px;
}

.post .idea-post {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 300px;
  background-image: url("https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Finsidesantafe.com%2Fwp-content%2Fuploads%2F2012%2F02%2Fmclarry-fine-art-dix-baines-autumn_river.jpg&f=1&nofb=1");
  background-size: cover;
}

.post .idea-post .lightbulb {
  -webkit-animation-duration: .3s;
          animation-duration: .3s;
  -webkit-animation-name: showL;
          animation-name: showL;
  font-size: 120px;
}

.post .actions-post {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
}

.post .actions-post .lightbulb {
  -webkit-animation-duration: .2s;
          animation-duration: .2s;
  -webkit-animation-name: showL;
          animation-name: showL;
}

.post .actions-post .action-icon {
  margin: 0 10px;
}

.post .actions-post .action-icon:nth-child(4) {
  position: absolute;
  right: 10px;
  -webkit-animation-duration: .2s;
          animation-duration: .2s;
  -webkit-animation-name: showL;
          animation-name: showL;
}

.post h6 {
  margin: 2px 0;
  padding-left: 20px;
}
/*# sourceMappingURL=main.css.map */